# Ambientes virtuais
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Instância e banco de dados local
instance/
database/*.db
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env

# Testes e cobertura
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Editores / IDEs
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db
